header{
    z-index:2;
    height:100px;
    position:absolute;
    left:0;
    right:0;
    top:0;
    padding-left:120px;
    padding-right:120px;
    display:flex;
    align-items:center;
    
    
    img{
        height:100px;
        object-fit:cover;
        border-radius:100%;
        &:hover{
            cursor:pointer;
        }
    }

    a{
        color:white;
        text-decoration: none;
        margin:16px;
        font-size:24px;
        &:hover{
            cursor:pointer;
            color:rgb(200, 200, 200);
        }
    }
}

.spacer{
    flex:1;
}

.dark-links{
    a{
        color:black;
    }
}

.dark-header{
    background-color:white;
}